@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

:root {
    --OSCURO: #371d0a;
    --color2: #593618;
    --color3: #875a28;
    --color4: #a5773818;
    --CLARO: #3f331c;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.4em;
}

body {
    display: grid;
    background-color: var(--color4);
    /* margin: 20px 20px 20px 20px; */
    font-family: 'Montserrat', sans-serif;
}



/* Menu */
.nav-enlace {
    flex-direction: column;
    text-decoration: none;
    padding: 0.4em;
    margin: auto;
    color: #875a28;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-enlace:hover {
    color: #fcf8f2;
    transform: scale(1.2);
}

/* Secciones */
.nosotros h3 {
    text-align: center;
}
.nosotros {
    padding: 1em 1em; 
}

.materia{
    margin: 1rem 1rem;
}
.materia__titulo {
    text-align: center;
    padding: 1rem 1rem;
}

.productos__titulo{
    text-align: center;
}



/* contactenos */
.form{
    width: 90%;
    margin: auto;
    max-width: 400px;
    padding: 3.5em 1.5em;
}

.form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__title{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: .4em;
}

.form__input {
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border:none;
    border: 1px solid ;
    border-radius: 0.2em;
}

.form__input--message{
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__cta {
    font-family: inherit;
    background-color: #c5915581;
    font-size: 1rem;
    color: #000000;
    border: none;
    font-weight: 400;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
}

@media (max-width: 450px) {
    .form{
        padding: 3.5em 1em;
    }
}



/* footer */ 

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}

.socials {
    align-items: center;
}

.socials__links{
    align-items: center;
}

@media (max-width: 720px) {
    header, footer {
        flex-direction: column;
        justify-content: center;
        font-size: 0.9em;
    }
    h1 {
        text-align: center;
    }
}

@media (max-width: 480px) {
    header, footer {
        flex-direction: row;
        font-size: 0.8em;
        gap: 10px;
    }
}